<!--hw/templates/hw/about.html-->

{% extends 'hw/base.html' %}

{% block content %}
        <h1>About this page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero neque, quos eius exercitationem rem qui aut quia doloremque quisquam inventore veritatis voluptas, praesentium quam, tempore labore ipsam beatae perspiciatis voluptate.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus non labore quae provident obcaecati ad consectetur nesciunt sapiente quaerat natus, similique assumenda quod mollitia sunt adipisci nisi repellendus officiis harum!</p>
{% endblock %}