/* File: quote_styles.css */
/* Author: Kiefer Ebanks (kebanks@bu.edu), 1/20/2026 */
/* Description: The stylesheet file for the quotes app */
/* The css file for the quotes app to be linked to base.html and used to style the quotes app*/
/* Used the template from the original styles.css and changed it up */

body {
    width: 80vw;
    background-color: #002244; /* I'm going to use a patriots color scheme of red, white, and blue */
    color: white;
    font-family: arial;
    margin: 0 auto;
    padding: 0;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    background: white;
    color: #C60C30;
    margin: 0;
    text-align: center;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #C60C30;
    text-decoration: none;
    background-color: white;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:aliceblue;
    position: fixed;
    top: 0px;
    z-index: 999;
}

footer {
    width: 80vw;
    left: 10vw; 
    background: white;
    color: #C60C30;
    position: fixed;
    bottom: 0px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

footer p {
    color: #C60C30;
}


.wrapper {
    border: 2px solid;
    max-width: 100%;
    position: relative;
    top: 50px;
    scroll-padding-top: 100px;
    padding-bottom: 50px;
}


div.wrapper h1 {
    text-align: center;
    color: #C60C30;
    background: white;
    margin: 10px auto;
    font-size: 2.4 em; 

}

div.wrapper h2 {
    text-align: center;
    color: #C60C30;
    background: white;
    margin: 5px auto;
    font-size: 2 em; 
}


section {
    border: 2px solid darkblue;
    position: relative;
    padding-bottom: 4px;
}


nav {
    text-align: center;
    background: none;
    color: white;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 30px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav button {
    background: none;
    color: white;
    font-family: Arial;
    cursor: pointer; 
    border: 0;
    font-size: 1.2 em;
}

img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

p {
    color: white;
    text-align: center;
}

ul, li {
    text-align: left;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.images-container img {
    margin: 0;
}

.images-container ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.images-container ul img {
    display: block;
    margin: 0;
}

.mc-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}


.mc-table-head {
    border: 1px dashed darkblue;
    display: table-row;
    font-size: 1.2em;
}

.mc-table-head .detail {
    display: table-cell;
    color:darkblue;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    position: relative;
   
}

.mc-table-row  {
    display: table-row;
    border: 1px dashed darkblue;
    background-color: white;
}


.mc-table-row .detail {
    color:darkblue;
    display: table-cell;
   
    padding: 5px;
}

.mc-table-row .detail img {
    max-height: 75px;
    align-content: right;
}

.mc-table-row:hover {
    background-color: aliceblue;    
    border: 1px solid;
}

.site-form {
    margin-top: 10px;
    padding: 10px;
}

.site-form input, .site-form textarea, .site-form select {
    display: block;
    margin: 5px 0 0 0;
    padding: 5px;
}

.site-form input [type="submit"] {
    background: slategray;
    border: 0;
    color: fff;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 5px 0;
}


.helptext, .helptext.ul {
    margin-top: 0 auto;
    bottom: 20px;
    color: #bbb;
    font-size: 0.9em;
}

.errorlist li {
    padding: 10px;
    list-style-type: none;
    border: 1px solid crimson;
    color: crimson;
    margin: 10px 0;
}


.errorlist {
    padding: 0px;
}


@media screen and (max-width: 560px) {
    header h1 {
        size: 0.8em;
    }

    nav li {
        display: block;
        margin-left: 0px;
        font-size: 14px;
        width: 100%;
    }
    
    nav button {
        background: none;
        color: slategray;
        font-family: Arial;
        cursor: pointer; 
        border: 0;
        font-size: 20px;
    }
    img {
        max-width: 95%;
        max-height: 400px;
    }
}