<!-- File: restaurant/templates/restaurant/order.html
Author: Kiefer Ebanks (kebanks@bu.edu), 2/3/2026
Description: The form html template for the restaurant app order
This is the ordering page that has the form -->


{% extends 'restaurant/base.html' %}

{% block content %}
    <h1 class="page-title">Place an Order</h1>
    <p class="form-description">Please fill out the form below to order your food.</p>

    <form action="{% url 'confirmation' %}" method="POST" class="order-form">
        {% csrf_token %}  <!-- CSRF token for security -->

        <div class="order-form-wrapper">
            <div class="customer-info">
                <label>Name: <input type="text" name="name" required></label>
                <label>Phone: <input type="tel" name="phone"></label>
                <label>Email: <input type="email" name="email"></label>
            </div>

            <div class="menu-items">
                <div class="menu-item">
                    <div class="menu-item-content">
                        Daily Special: {{ daily_special }}
                        <input type="hidden" name="daily_special_name" value="{{ daily_special }}"> <!-- This hidden input field is used to store the daily special item to be displayed on the confirmation page -->
                    </div>
                    <div class="menu-item-price-checkbox">
                        <span>${{ daily_special_price }}</span>
                        <input type="checkbox" name="daily_special" value="{{ daily_special_price }}">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item-content">
                        8oz Filet Mignon
                        <div id="filet_options" class="filet-options">
                            <label>Sauce Options:</label><br>
                            <input type="radio" name="filet_sauce" value="peppercorn" id="peppercorn"> <label for="peppercorn">Peppercorn Sauce</label><br>
                            <input type="radio" name="filet_sauce" value="steak_sauce" id="steak_sauce"> <label for="steak_sauce">Steak Sauce</label>
                        </div>
                    </div>
                    <div class="menu-item-price-checkbox">
                        <span>$32</span>
                        <input type="checkbox" name="Filet Mignon" value="32" id="filet_checkbox">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item-content">
                        14oz Ribeye
                    </div>
                    <div class="menu-item-price-checkbox">
                        <span>$30</span>
                        <input type="checkbox" name="Ribeye" value="30">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item-content">
                        14oz Sirloin
                    </div>
                    <div class="menu-item-price-checkbox">
                        <span>$26</span>
                        <input type="checkbox" name="Sirloin" value="26">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item-content">
                        24oz T-bone
                    </div>
                    <div class="menu-item-price-checkbox">
                        <span>$35</span>
                        <input type="checkbox" name="T-bone" value="35">
                    </div>
                </div>
            </div>
        </div>

        <div class="special-instructions">
            <label>Special Instructions: <textarea name="special_instructions" placeholder="Please enter any special instructions here."></textarea></label>
        </div>

        <input type="submit" class="submit-button">

    </form>

    <script>
        // This script is to ensure that when a Filet Mignonsauce radio button is selected, the Filet Mignon checkbox is also checked
        // and when the Filet Mignon checkbox is unchecked, all sauce radio buttons are deselected
        
        // First we get references to the checkbox and radio buttons
        var filetCheckbox = document.getElementById('filet_checkbox');
        var sauceRadios = document.querySelectorAll('input[name="filet_sauce"]');
        
        // When a sauce radio button is selected, check the Filet Mignon checkbox
        sauceRadios.forEach(function(radio) {
            radio.addEventListener('change', function() {
                if (this.checked) {
                    filetCheckbox.checked = true;
                }
            });
        });
        
        // When the Filet Mignon checkbox is unchecked, deselect all sauce radio buttons
        filetCheckbox.addEventListener('change', function() {
            if (!this.checked) {
                sauceRadios.forEach(function(radio) {
                    radio.checked = false;
                });
            }
        });
    </script>

{% endblock %}

