<!-- File: base.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 1/29/2026 -->
<!-- Description: The base html template for the quotes app -->
<!-- The base webpage html template that all other templates extend and use -->

{% load static %} <!-- loading static files for css styling -->

<html>
    <head>
        <title> Base</title>
        <link rel="stylesheet" href="{% static 'quote_styles.css' %}"> <!-- linking to the static css file for styling -->
    </head>
    <body>
        <nav>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'quote' %}">Quotes</a>
            </li>
            <li>
                <a href="{% url 'show_all' %}">All Quotes</a>
            </li>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            <p>I hope that you feel inspired by Tom Brady after visiting this site!</p>

        </footer>
    </body>
</html>