<!-- File: home.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 1/29/2026 -->
<!-- Description: The home page html template for the quotes app -->
<!-- The html template for the home page to be linked to base.html and displayed at the default url-->

{% extends 'quotes/base.html' %} <!-- linking to the base.html template-->

<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        {% block content %} <!-- creating the information that will be subsituted in the base.html template-->
        <h1>Welcome to my Quotes App</h1>
        <p>Below is an inspirational quote from Tom Brady:</p>
        <p>"{{ quote }}"</p>
        <img src="{{ image }}" alt="Random Image" />
        {% endblock %}
    </body>
</html>