<!-- File: quote.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 1/29/2026 -->
<!-- Description: The page that displays a random quote and image -->
<!-- The html template that takes in context from the views.py quote function and 
links to base.html to display the quote and image -->

{% extends 'quotes/base.html' %} <!-- linking to the base.html template-->

<html>
    <head>
        <title> Quotes</title>
    </head>
    <body>
        {% block content %} <!-- creating the information that will be subsituted in the base.html template-->
        <h1>See an inspirational quote below</h1>
        <p>Here is an inspiring Tom Brady quote for you:</p>
        <p>"{{ quote }}"</p>
        <img src="{{ image }}" alt="Random Image" />
        {% endblock %}
    </body>
</html>