<!-- File: show_all.html -->
<!-- Author: Kiefer Ebanks (kebanks@bu.edu), 1/29/2026 -->
<!-- Description: The page that displays all Tom Brady quotes and images -->
<!-- The html template for all quotes that takes in context from the views.py show_all function and 
links to base.html template to display the quotes and images -->

{% extends 'quotes/base.html' %} <!-- linking to the base.html template-->

<html>
    <head>
        <title>All Quotes</title>
    </head>
    <body>
        {% block content %} <!-- creating the information that will be subsituted in the base.html template-->
        <h1>All Quotes</h1>

        {% for quote in quotes_list %}
        <ul>
            <li> {{quote}} </li>
        </ul>
        {% endfor %}

        <h1>All Images</h1>
        <div class="images-container">
        {% for image in image_list %}
        <ul>
            <img src="{{image}}" alt="Image">
        </ul>
        {% endfor %}
        </div>

        {% endblock %}
    </body>
</html>